*.log
*~
*.swp
backup
coreip
dm
work
synwork
syntmp
synlog
*.bit
*.dum
*.ini
*.h
*.jhd
*.jid
*.lct
*.naf
*.sty
*.tcl
*.err

*.b2_
*.bl?
*.cmi
*.crf
*.d0
*.eq3
*.fti
*.imp
*.ipr
*.l0
*.lco
*.ppn
*.rev
*.rpt
*.sif
*.svl
*.tda
*.tt4
*.xrf
*.cif
*.edi
*.exf
*.fse
*.htm
*.prj
*.srf
*.srm
*.srr
*.srs
*.rs2
*.txt
*.prs

